* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #e7e9ea;
  font-size: 16px;
  line-height: 24px;
  background-color: #e7e9ea;
}

a {
  text-decoration: none;
  color: #e7e9ea;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  transition: 0.3s;
}
a:hover {
  color: #a7a7a7;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  outline: none;
  border: 1px solid #00214e;
  padding: 10px 15px;
  border-radius: 12px;
  color: #00214e;
  background-color: transparent;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #00214e;
}

textarea {
  outline: none;
  border: 1px solid #00214e;
  padding: 10px 15px;
  border-radius: 12px;
  color: #00214e;
  background-color: transparent;
  resize: none;
}

.button {
  padding: 10px 30px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  background-color: #ed0027;
  color: #e7e9ea;
  transition: 0.3s;
}
.button:hover {
  background-color: #a7001b;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 40px;
  color: #00214e;
}

.header {
  height: 72vh;
  position: relative;
  border-radius: 20px;
}
.header__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 100;
}
.header__menu {
  width: 100%;
  padding: 10px 0;
  z-index: 1000000;
  position: fixed;
}
.header__menu.scrolled {
  background-color: #00214e;
  transition: background-color 0.5s ease;
}
.header__block {
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo-img {
  width: 80px;
}
.header__list {
  display: flex;
  gap: 40px;
}
.header__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  gap: 30px;
  margin-top: 100px;
}
.header__text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.header__phone {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header__phone-text {
  font-size: 24px;
}
.header__phone-link {
  font-size: 32px;
  font-weight: 700;
}
.header__title {
  font-weight: 700;
  font-size: 26px;
  font-weight: 400;
  text-transform: initial;
}
.header__title span {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 42px;
}
.header__video {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.header__video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}

.advantages {
  background-image: url("../images/fon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.advantages__inner {
  padding: 50px 0;
}
.advantages__title {
  color: #fff;
  font-size: 56px;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.advantages__title span {
  color: #00abe1;
}
.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 100px;
}
.advantages__list-inner {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  gap: 20px;
}
.advantages__item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  color: #fff;
  padding: 10px;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}
.advantages__item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 150px;
  height: 130px;
}
.advantages__item-image {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.advantages__item-image-calc {
  width: 60%;
}
.advantages__item-image-people {
  width: 55%;
}
.advantages__item-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.advantages__item-number {
  opacity: 0.6;
  font-size: 24px;
  margin: 0;
}
.advantages__item-text {
  margin: 0;
  margin-top: 20px;
  flex: 1;
}

.mySwiper {
  position: relative;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 550px;
}

.swiper-button-prev {
  left: 40%;
}

.swiper-button-next {
  left: 60%;
}

.swiper-pagination {
  position: relative;
  top: 70px;
  margin-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  padding: 20px;
  border-radius: 12px;
}
.form__title {
  font-weight: 700;
  text-align: center;
}
.form__row {
  display: flex;
  gap: 20px;
  font: 1px;
}
.form__textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #fff;
}
.form__textarea::-webkit-input-placeholder {
  color: #fff;
}
.form__input {
  border: 1px solid #fff;
}
.form__input::-webkit-input-placeholder {
  color: #fff;
}
.form__select {
  width: 100%;
}
.form__select-input {
  background-color: transparent;
  color: #fff;
}
.form__select-input option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.form__checkbox-block {
  display: flex;
  align-items: center;
  gap: 10px;
}
.form__checkbox-label {
  width: 600px;
}
.form__warning {
  text-align: center;
}
.form__warning span {
  color: #a7001b;
}

.delivery {
  margin: 60px 0;
}
.delivery__inner {
  display: flex;
  flex-direction: column;
}
.delivery__row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}
.delivery__list {
  margin-bottom: 40px;
}
.delivery__item {
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px 15px;
  border-radius: 12px;
  overflow: hidden;
  flex: 1;
  box-shadow: 0px 5px 25px -4px rgba(0, 0, 0, 0.09);
}
.delivery__item-title {
  color: #00214e;
  position: relative;
  margin-bottom: 20px;
  font-size: 20px;
  text-transform: uppercase;
}
.delivery__item-title::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #a7001b;
}
.delivery__item-params {
  margin-bottom: 20px;
}
.delivery__item-params-title {
  font-size: 18px;
  color: #00214e;
}
.delivery__item-params-value {
  font-weight: 700;
  font-size: 20px;
  color: #a7001b;
}
.delivery__item-img {
  position: absolute;
  top: 70px;
  right: -30px;
  width: 49%;
}
.delivery__item-img-gr {
  width: 55%;
}
.delivery__item-img-kwa {
  top: 80px;
  width: 58%;
}
.delivery__item-img-plane {
  top: 50px;
  width: 60%;
}
.delivery__item-trane {
  right: -10px;
}
.delivery__item-container {
  right: -25px;
}
.delivery__btn {
  display: flex;
  justify-content: center;
}
.delivery__button {
  color: #e7e9ea;
  padding: 20px 30px;
  font-size: 22px;
}

.work {
  margin-top: 120px;
  background-color: #00214e;
  padding: 60px 0;
}
.work__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 40px;
  color: #e7e9ea;
}
.work__title span {
  color: #a7001b;
}
.work__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.work__line {
  width: 100%;
  height: 2px;
  background-color: #a7001b;
}
.work__points {
  position: relative;
  top: -6px;
  display: flex;
  justify-content: space-between;
}
.work__point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #a7001b;
  margin: 0 auto;
}
.work__texts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0px;
  position: relative;
  top: 20px;
}
.work__text {
  text-align: center;
  width: 215px;
  font-size: 18px;
  color: #e7e9ea;
  opacity: 0.7;
}
.work__truck {
  position: relative;
  width: 150px;
  top: 40px;
  left: 52px;
  z-index: 100;
  transform: scaleX(-1);
}
.work__btn {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
.work__button {
  padding: 20px 30px;
  font-size: 22px;
}

.reviews {
  margin: 70px 0;
  padding: 40px 0;
}
.reviews__list {
  display: flex;
}
.reviews__item {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  border: 1px solid #00214e;
  border-radius: 12px;
  padding: 15px;
  min-width: 350px;
}
.reviews__slider {
  width: 100%;
  overflow: hidden;
}
.reviews__avatar {
  height: 100px;
  border-radius: 12px;
}
.reviews__row {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
}
.reviews__name {
  font-size: 22px;
  color: #00214e;
  position: relative;
}
.reviews__name::after {
  content: "";
  position: absolute;
  top: 2px;
  right: -20px;
  width: 1px;
  height: 100%;
  background-color: #00214e;
  opacity: 0.5;
}
.reviews__stars {
  display: flex;
  align-items: center;
}
.reviews__star {
  width: 25px;
}
.reviews__decor {
  overflow: hidden;
  height: 200px;
}
.reviews__text {
  margin-top: 15px;
  text-align: center;
  color: #00214e;
  opacity: 0.7;
}

.footer {
  background-color: #00214e;
  border-radius: 50px 50px 0 0;
  padding: 40px 0;
}
.footer__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #fff;
}
.footer__logo-img {
  width: 80px;
}
.footer__list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.footer__list-social {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.footer__item-logo {
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 12px;
  font-size: 16px;
}
.footer__text {
  font-size: 24px;
  margin-bottom: 10px;
}
.footer__social {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__social-link {
  display: flex;
  gap: 10px;
}
.footer__block {
  display: flex;
  gap: 10px;
  align-items: center;
}
.footer__img {
  width: 30px;
}/*# sourceMappingURL=main.css.map */